[Unit]
Description=PostgreSQL Database Server

[Container]
ContainerName=postgres
Image=docker.io/postgres:18-alpine
Network=postgres.network
PublishPort=5432:5432
Volume=postgres.volume:/var/lib/postgresql
Secret=postgres_password,type=env,target=POSTGRES_PASSWORD
AutoUpdate=registry

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
