[Unit]
Description=PostgreSQL Database Server

[Container]
ContainerName=postgres
Image=docker.io/postgres:18-alpine
Network=postgres.network
PublishPort=5432:5432
Secret=postgres_password,type=env,target=POSTGRES_PASSWORD
Volume=postgres.volume:/var/lib/postgresql
PodmanArgs=--cpus=4 -m=8g
AutoUpdate=registry

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
