[Unit]
Description=Shlink URL Shortener
Wants=shlink-postgres.service
After=shlink-postgres.service

[Container]
ContainerName=shlink
Image=docker.io/shlinkio/shlink:4
Network=shlink.network
PublishPort=8041:8080
EnvironmentFile=%h/.config/containers/systemd/atxoft/shlink/shlink.env
Secret=shlink_postgres_password,type=env,target=DB_PASSWORD
Secret=shlink_geolite_license_key,type=env,target=GEOLITE_LICENSE_KEY
PodmanArgs=--cpus=2 -m=2g
AutoUpdate=registry

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
