[Unit]
Description=Ser2net

[Container]
ContainerName=ser2net
Image=ghcr.io/jippi/docker-ser2net:latest
Network=host
PublishPort=2000:2000
Volume=/etc/containers/systemd/atxoft/ser2net/ser2net.yaml:/etc/ser2net/ser2net.yaml:z,ro
AddDevice=/dev/ttyS0
PodmanArgs=--cpus=1 -m=1g
AutoUpdate=registry

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=900

[Install]
WantedBy=default.target
