[Unit]
Description=Vaultwarden

[Container]
ContainerName=vaultwarden
Image=docker.io/vaultwarden/server:latest
Network=vaultwarden.network
PublishPort=2280:80
Volume=vaultwarden.volume:/data
PodmanArgs=--cpus=2 -m=2g
AutoUpdate=registry

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=900

[Install]
WantedBy=default.target
