[Unit]
Description=Invidious Companion

[Container]
ContainerName=invidious-companion
Image=quay.io/invidious/invidious-companion:latest
Network=invidious.network
PublishPort=8282:8282
Volume=invidious-cache:/var/tmp/youtubei.js
# Same as invidious_companion_key in config.yml
Secret=invidious_companion_key,type=env,target=SERVER_SECRET_KEY
AutoUpdate=registry

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
