[Unit]
Description=Ollama with Vulkan support

[Container]
ContainerName=ollama
Image=docker.io/ollama/ollama:latest
Network=open-webui.network
PublishPort=7869:11434
Environment=OLLAMA_VULKAN=1
# Do not back up due to huge disk usage of LLMs!
Volume=ollama:/root/.ollama
AddDevice=/dev/dri
AddDevice=/dev/kfd
AutoUpdate=registry
PodmanArgs=--cpus=4 -m=8g

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
