[Unit]
Description=lj-share backup with Restic

[Container]
ContainerName=restic-lj-share
Image=docker.io/restic/restic:latest
Entrypoint=/backup.sh
HostName=atxoft
Volume=restic-cache:/root/.cache/restic
Volume=/home/alaister/share:/host/lj-share:ro
Volume=/etc/containers/systemd/atxoft/restic/config/shares.txt:/etc/restic/excludes.txt:ro
Volume=/etc/containers/systemd/atxoft/restic/bin/backup-lj-share.sh:/backup.sh
Secret=restic_lj_share_repository,type=env,target=RESTIC_REPOSITORY
Secret=restic_lj_share_password,type=env,target=RESTIC_PASSWORD
Secret=restic_aws_access_key_id,type=env,target=AWS_ACCESS_KEY_ID
Secret=restic_aws_secret_access_key,type=env,target=AWS_SECRET_ACCESS_KEY
SecurityLabelDisable=true
AutoUpdate=registry
PodmanArgs=--cpus=2 -m=4g

[Service]
Restart=no
