[Unit]
Description=Karakeep Meilisearch

[Container]
ContainerName=karakeep-meilisearch
Image=docker.io/getmeili/meilisearch:v1.11.1
Network=karakeep.network
EnvironmentFile=%h/.config/containers/systemd/atxoft/karakeep/karakeep.env
Volume=karakeep-meilisearch.volume:/meili_data
Secret=karakeep_nextauth_secret,type=env,target=NEXTAUTH_SECRET
Secret=karakeep_meili_master_key,type=env,target=MEILI_MASTER_KEY
AutoUpdate=registry

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
