[Unit]
Description=ConvertX

[Container]
ContainerName=convertx
Image=docker.io/c4illin/convertx:latest
Network=convertx.network
PublishPort=8100:3000
EnvironmentFile=%h/.config/containers/systemd/atxoft/convertx/convertx.env
Secret=convertx_jwt_secret,type=env,target=JWT_SECRET
Volume=convertx.volume:/app/data
PodmanArgs=--cpus=4 -m=4g
AutoUpdate=registry

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
