[Unit]
Description=ConvertX

[Container]
ContainerName=convertx
Image=docker.io/c4illin/convertx:latest
Network=convertx.network
PublishPort=8100:3000
EnvironmentFile=%h/.config/containers/systemd/atxoft/convertx/convertx.env
Volume=convertx.volume:/app/data
Secret=convertx_jwt_secret,type=env,target=JWT_SECRET
AutoUpdate=registry
PodmanArgs=--cpus=4 -m=4g

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
