[Unit]
Description=Radicale

[Container]
ContainerName=radicale
Image=docker.io/tomsquest/docker-radicale:latest
Network=radicale.network
PublishPort=5232:5232
Volume=radicale.volume:/data
Volume=%h/.config/atxoft/radicale/config:/config:z
AutoUpdate=registry
PodmanArgs=--cpus=2 -m=4g

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
