[Unit]
Description=Radicale CalDAV and CardDAV Server

[Container]
ContainerName=radicale
Image=docker.io/tomsquest/docker-radicale:latest
Network=radicale.network
PublishPort=5232:5232
Volume=radicale.volume:/data
Volume=%h/.config/atxoft/radicale/config:/config:z
PodmanArgs=--cpus=2 -m=2g
AutoUpdate=registry

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=900

[Install]
WantedBy=default.target
