[Unit]
Description=n8n Workflow Automation

[Container]
ContainerName=n8n
Image=docker.n8n.io/n8nio/n8n:latest
Network=n8n.network
PublishPort=5678:5678
EnvironmentFile=%h/.config/containers/systemd/atxoft/n8n/n8n.env
Volume=n8n.volume:/home/node/.n8n
Secret=hydroxide_user,type=env,target=N8N_SMTP_USER
Secret=hydroxide_password,type=env,target=N8N_SMTP_PASS
Secret=n8n_smtp_sender,type=env,target=N8N_SMTP_SENDER
AutoUpdate=registry

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
