[Unit]
Description=@Bookmarks
Wants=karakeep.service
After=karakeep.service

[Container]
ContainerName=atbookmarks
Image=ghcr.io/alaisterleung/atbookmarks:latest
Network=karakeep.network
PublishPort=8015:8080
EnvironmentFile=%h/.config/containers/systemd/atxoft/atbookmarks/atbookmarks.env
Secret=atbookmarks_karakeep_api_key,type=env,target=KARAKEEP_API_KEY
Secret=atbookmarks_postgres_password,type=env,target=POSTGRES_PASSWORD
AutoUpdate=registry
PodmanArgs=--cpus=4 -m=4g

[Service]
ExecStartPre=podman login --authfile %h/.config/containers/auth.json ghcr.io
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
