[Unit]
Description=Cloudflared Tunnel Client

[Container]
ContainerName=cloudflared
Image=docker.io/cloudflare/cloudflared:latest
Exec=tunnel run
Network=host
Environment=NO_AUTOUPDATE=true
Secret=cloudflared_tunnel_token,type=env,target=TUNNEL_TOKEN
AutoUpdate=registry

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
