[Unit]
Description=Cloudflared Tunnel Client

[Container]
ContainerName=cloudflared
Image=docker.io/cloudflare/cloudflared:latest
Exec=tunnel run
Network=host
Environment=NO_AUTOUPDATE=true
Secret=cloudflared_tunnel_token,type=env,target=TUNNEL_TOKEN
PodmanArgs=--cpus=2 -m=1g
AutoUpdate=registry

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=900

[Install]
WantedBy=default.target
