[Unit]
Description=Portainer

[Container]
ContainerName=portainer
Image=docker.io/portainer/portainer-ee:lts
Network=portainer.network
PublishPort=8000:8000
PublishPort=9000:9000
PublishPort=9443:9443
Volume=/run/user/%U/podman/podman.sock:/var/run/docker.sock:z
Volume=portainer.volume:/data
SecurityLabelType=container_runtime_t
AutoUpdate=registry
PodmanArgs=--cpus=4 -m=4g

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
