[Unit]
Description=Red Discord Bot

[Container]
ContainerName=red-bot
Image=docker.io/phasecorex/red-discordbot:core-audio
Network=red-bot.network
Environment=PREFIX=.
Secret=red_bot_token,type=env,target=TOKEN
Volume=red-bot.volume:/data
PodmanArgs=--cpus=4 -m=4g
AutoUpdate=registry

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=900

[Install]
WantedBy=default.target
