[Unit]
Description=Pterodactyl Redis

[Container]
ContainerName=pterodactyl-redis
Image=docker.io/redis:alpine
Network=pterodactyl.network
PodmanArgs=--cpus=4 -m=4g
AutoUpdate=registry

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
