[Unit]
Description=Pterodactyl Redis

[Container]
ContainerName=pterodactyl-redis
Image=docker.io/redis:alpine
Network=pterodactyl.network
AutoUpdate=registry
PodmanArgs=--cpus=2 -m=4g

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
