[Unit]
Description=Pterodactyl MariaDB

[Container]
ContainerName=pterodactyl-mariadb
Image=docker.io/mariadb:10.5
Exec=--default-authentication-plugin=mysql_native_password
Network=pterodactyl.network
EnvironmentFile=%h/.config/containers/systemd/atxoft/pterodactyl/pterodactyl-mariadb.env
Volume=pterodactyl-data.volume:/var/lib/mysql
Secret=pterodactyl_mysql_password,type=env,target=MYSQL_PASSWORD
Secret=pterodactyl_mysql_root_password,type=env,target=MYSQL_ROOT_PASSWORD
AutoUpdate=registry
PodmanArgs=--cpus=2 -m=4g

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
