[Unit]
Description=Immich Redis (Valkey)

[Container]
ContainerName=immich-redis
Image=docker.io/valkey/valkey:8
Network=immich.network
PodmanArgs=--cpus=4 -m=4g
AutoUpdate=registry

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
