[Unit]
Description=Immich Machine Learning

[Container]
ContainerName=immich-machine-learning
Image=ghcr.io/immich-app/immich-machine-learning:release-rocm
Network=immich.network
Environment=HSA_OVERRIDE_GFX_VERSION=10.3.0
Environment=HSA_USE_SVM=0
Volume=immich-model-cache:/cache
AddDevice=/dev/dri
AddDevice=/dev/kfd
PodmanArgs=--cpus=4 -m=8g
AutoUpdate=registry

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=900

[Install]
WantedBy=default.target
