[Unit]
Description=Immich
After=immich-ml.service immich-postgres.service immich-redis.service
Requires=immich-ml.service immich-postgres.service immich-redis.service

[Container]
ContainerName=immich
Image=ghcr.io/immich-app/immich-server:release
Network=immich.network
PublishPort=2283:2283
EnvironmentFile=%h/.config/containers/systemd/atxoft/immich/immich.env
Secret=immich_postgres_password,type=env,target=DB_PASSWORD
Volume=immich-library.volume:/data
AddDevice=/dev/dri
PodmanArgs=--cpus=6 -m=4g
AutoUpdate=registry

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=900

[Install]
WantedBy=default.target
