[Unit]
Description=Jellyfin Media Server

[Container]
ContainerName=jellyfin
Image=docker.io/jellyfin/jellyfin:latest
Network=jellyfin.network
PublishPort=8096:8096/tcp
PublishPort=7359:7359/udp
Volume=jellyfin-cache:/cache
Volume=jellyfin-config.volume:/config
Volume=/srv/home-share:/media
AddDevice=/dev/dri
UserNS=keep-id
SecurityLabelType=container_runtime_t
AutoUpdate=registry
PodmanArgs=--cpus=4 -m=4g

[Service]
Restart=always
RestartSec=5
SuccessExitStatus=0 143

[Install]
WantedBy=default.target
