[Unit]
Description=PrivateBin

[Container]
ContainerName=privatebin
Image=docker.io/privatebin/nginx-fpm-alpine:stable
Network=privatebin.network
PublishPort=8040:8080
Volume=privatebin-data:/srv/data
Volume=%h/.config/atxoft/privatebin/conf.php.ini:/srv/cfg/conf.php:z,ro
ReadOnly=true
PodmanArgs=--cpus=2 -m=2g
AutoUpdate=registry

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=900

[Install]
WantedBy=default.target
