[Unit]
Description=PrivateBin

[Container]
ContainerName=privatebin
Image=docker.io/privatebin/nginx-fpm-alpine:stable
Network=privatebin.network
PublishPort=8040:8080
Volume=privatebin-data:/srv/data
Volume=%h/.config/atxoft/privatebin/conf.php:/srv/cfg/conf.php:Z,ro
ReadOnly=true
AutoUpdate=registry

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
